#AddList {
    height: 98%;
    width: 20%;
    position: fixed;
    background-color: bisque;
}
h2 {
    margin: 0px 30% 0px 21%;
}
#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:  0px 5% 0px 21%;
}
.Jobs {
    display: flex;
    flex-direction: column;
    border: 0px black solid;
    margin: 15px 20px 0px 0%;
    padding: 15px;
    height: 175px;
    width: 175px;
    background-color: rgb(161, 232, 255);
}
.sidebarinner {
    margin: 0px 2px 5px 2%;
    display: flex;
}